[Unit]
Description=Enables autologin to gamescope-session
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sed -i 's/.*Session=.*/Session=gamescope-session.desktop/g' /etc/sddm.conf.d/steamos.conf

[Install]
WantedBy=multi-user.target
